.chatpage-wrapper {
  display: flex;
  height: 100vh;
  margin: 13px 10px 0px 10px;
  background-color: #fafafa;
}
.chatLeft-wrapper {
  width: 30%;
  overflow-y: scroll;
  margin-right: 10px;
}
.chatLeft-wrapper::-webkit-scrollbar {
  display: none;
}
.chatRight-wrapper {
  width: 70%;
  margin-left: 10px;
}
.chat-model-size-height1 {
  background-color: #f9f9f9;
  height: 80vh;
  padding: 15px 10px;
  width: 100%;
  overflow-y: scroll;
}

.chat-model-size-height1::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.chat-model-size-height1::-webkit-scrollbar-track {
  background: #f9f9f9;
  border-radius: 1px;
}

/* Handle */
.chat-model-size-height1::-webkit-scrollbar-thumb {
  background: #c7c7c7;
}

@media (max-width: 767px) {
  .chatpage-wrapper {
    flex-direction: column;
  }
  .chatLeft-wrapper {
    width: 100%;
  }
  .chatRight-wrapper {
    width: 100%;
  }
  .chat-model-size-img {
    height: unset;
  }
  .chat-model-size-height {
    height: unset;
  }
  .chat-model-size-position {
    height: unset;
  }
}
